.blue-background{
    background-color: #020285f8 !important;
  }
  
  .coral-background{
    background-color: coral !important;
  }

  .dark-background{
    background-color: #073349 !important;
  }
  
  .white-background{
    background-color: #ffffff !important;
  }
  
  .center{
    text-align: center;
  }

  .text-middle{
      font-size: 3vw;
  }

  .text-big{
      font-size: 7vw;
  }

  .text-white{
      color: white;
  }

  .dark-border{
    border: solid black 10px;
  }

  .text-lobster{
    font-family: 'Lobster', cursive;
  }

  .text-abril{
    font-family: 'Abril Fatface', cursive;
  }